.hero {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background-image {
  display: block;
}
.overlay-image {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 35%;
  height: auto;
}
.hero-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero-text h1 {
  font-size: 7.5rem;
  font-weight: 800;
  background: #feff7c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text p {
  font-size: 1.3rem;
  color: darkblue;
  padding: 0.5rem 0 2rem 0;
}
.hero-text .show {
  text-decoration: none;
  background: #ff914d;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
}
.hero-text .show:hover {
  background: rgb(217, 119, 0);
  color: #222;
}

/* Tablet styles (768px to 1024px) */
@media screen and (max-width: 1024px) {
  .hero-text {
    top: 60%;
    left: 50%;
  }
  .hero-text h1 {
    padding: 70px 20px 10px 20px;
    font-size: 3rem;
  }
  .hero-text p {
    font-size: 1rem;
    color: darkblue;
    padding: 0.5rem 0 2rem 0;
  }
  .hero-text .show {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
  .background-image {
    display: block;
    width: 100%;
    height: 50%;
  }
  .overlay-image {
    width: 45%;
    left: 28%;
  }
}

/* Mobile styles (up to 767px) */
@media screen and (max-width: 767px) {
  .hero-text {
    top: 70%;
    left: 50%;
  }
  .hero-text h1 {
    padding: 10px 20px 5px 20px;
    font-size: 2.5rem;
  }
  .hero-text p {
    font-size: 1rem;
    color: darkblue;
    padding: 0.5rem 0 1rem 0;
  }
  .hero-text .show {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
  .background-image {
    display: block;
    width: 100%;
    height: 100%;
  }
  .overlay-image {
    width: 45%;
  }
}
