.impact {
  position: relative;
  background: #ff914d;
}
.impact h2 {
  color: #004aad;
  padding: 2rem;
  font-size: 2rem;
}
.block-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  padding: 0 8rem;
}
.block h3 {
  background: #feff7c;
  padding: 0.5rem 3rem 0.5rem 2rem;
  font-size: 3rem;
}
.block p {
  font-size: 1.1rem;
  padding: 1rem 1rem 2rem 1rem;
}
/* Tablet styles (768px to 1024px) */
@media screen and (max-width: 1024px) {
  .impact h2 {
    padding: 2rem;
    font-size: 1.5rem;
  }
  .block-holder {
    display: block;
  }
  .block {
    padding: 0 4rem;
  }
  .block h3 {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 2rem;
  }
  .block p {
    font-size: 1.1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
}

/* Mobile styles (up to 767px) */
@media screen and (max-width: 767px) {
  .impact h2 {
    padding: 2rem;
    font-size: 1.5rem;
  }
  .block-holder {
    display: block;
  }
  .block {
    padding: 0 4rem;
  }
  .block h3 {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 2rem;
  }
  .block p {
    font-size: 1.1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
}
