.last {
  background: #feff7c;
  padding: 4rem;
}
.last h2 {
  font-size: 3.5rem;
  text-align: start;
}
.last h3 {
  text-align: start;
  font-size: 2rem;
}
.direct-links {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.direct-links p {
  padding: 0.5rem 3rem;
  border: solid;
  color: #222;
}
.direct-links p:hover {
  border: solid;
  background-color: #004aad;
  color: #feff7c;
  transition: all 0.2s ease-in-out;
}
.cp-text {
  padding-top: 2rem;
  text-align: start;
}
/* Tablet styles (768px to 1024px) */
@media screen and (max-width: 1024px) {
  .last h2 {
    font-size: 3rem;
    text-align: start;
  }
  .last h3 {
    font-size: 1.5rem;
  }
  .direct-links {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .direct-links p {
    padding: 0.5rem 3rem;
    border: solid;
    color: #222;
    margin-right: 1rem;
  }
  .direct-links p:hover {
    border: solid;
    background-color: #004aad;
    color: #feff7c;
    transition: all 0.2s ease-in-out;
  }
  .cp-text {
    padding-top: 1.5rem;
  }
}

/* Mobile styles (up to 767px) */
@media screen and (max-width: 767px) {
  .last h2 {
    font-size: 3rem;
    text-align: start;
  }
  .last h3 {
    font-size: 1.5rem;
  }
  .direct-links {
    display: block;
    padding-top: 2rem;
  }
  .direct-links p {
    padding: 0.5rem 3rem;
    margin-top: 1rem;
  }
  .direct-links p:hover {
    border: solid;
    background-color: #004aad;
    color: #feff7c;
    transition: all 0.2s ease-in-out;
  }
  .cp-text {
    padding-top: 1rem;
  }
}
